.container{
    display: flex;
}
.box{
    height: 159px;
    width: 276px;
    border: 2px solid ;
    margin: 10px;
}
.box1{
    background-image: url(../../img/ocean.jpg);
    /* visibility: visible;
    visibility: hidden; */
}
.box2{
    background-image: url(../../img/ston.jpg);
    /* display: none;
    display: block; */
}

.conic {
    background-image: conic-gradient(red, yellow, green);
  }
.linear {
    background-image: linear-gradient(red, yellow, blue);
  }

.radial {
    background-image: radial-gradient(red, green, blue);
  }
  .repeating-conic{
    background-image: repeating-conic-gradient(red 10%, yellow 20%);
  }
  .repeating-linear{
    background-image: repeating-linear-gradient(red, yellow 10%, green 20%);
  }
  .repeating-radial{
    background-image: repeating-radial-gradient(red, yellow 10%, green 15%);
  }
