.main-container{
    /* height: 300px; */
    width: 50%;
    border: 1px solid;
    display: grid;
    padding: 60px;
    margin: auto;
}
.h1{
    text-align: center;
    padding-bottom: 2rem;
}
.php{
    color: #7b7373;
    padding-bottom: 2rem;
}
.h4{
    padding-bottom: 2rem;
}
.btn-yellow{
    background-color: gold;
    color: black;
    border-radius: 20px;
    border: none;
    margin: auto;
    
}
.btn-btn-yellow{
    margin: auto;
    padding-bottom: 2rem;
}
.green-btn{
    margin: auto;
}