.nav{
    /* height: 300px; */
    width: 100%;
    border: 1px solid;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(220, 124, 247);
}
.img{
    height: 150px;
    width: 150px;
    border-radius: 1000px;
}
nav ul{
    list-style-type: none;
}
.ul{
    display: flex;
    gap:40px ; 
}
.btn{
    gap: 20px;
    height: 50px;
    width: 100px;
    border: none;
}
